// bg-Colours
$bg-lightpurple: #9095f3;
$bg-white: #ffffff;
$bg-babyblue: #96c2eb;
$bg-black: #000;
$bg-darkblue: #022D68;
$bg-green: #a4e2a4;
$bg-red: #a06666;


// Text colours
$text-black: #000;
$text-white: #fff;
$text-darkblue: #022D68;

//