// bg-Colours
$bg-lightpurple: #9094e5;
$bg-white: #ffffff;
$bg-babyblue: #59a3e8;
$bg-black: #000;
$bg-darkblue: #1674f8;
$bg-green: #b7d3b7;
$bg-red: #e49292;
$bg-pink: #f6e5f9;
$bg-purple: #b6a6b6;


// Text colours
$text-black: #000;
$text-white: #fff;
$text-darkblue: #1749d2;



