// Borders
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$border-dash: 1px dashed #000;
$border-solid: 1px solid #000;
$border-none: none;
$border-collapse: collapse;

// Margins
$margin-small: 16px;
$margin-medium: 24px;
$margin-large: 30px;
$margin-btm: 16px;
$margin-top: 16px;
$margin-left: 16px;
$margin-right: 16px;


// Padding
$padding-small: 20px;
$padding-medium: 35px;
$padding-large: 50px;
$padding-top: 16px;
$padding-btm: 16px;
$padding-left: 16px;
$padding-right: 16px;


// List styles
$roman-list: upper-roman;
$circle-list: circle;
$list-alpha: lower-alpha;

