// Colours
$bg-purple: #e248ed;
$bg-white: #fff;
$bg-babyblue: #bbdeff;
$bg-black: #000;
$bg-darkblue: #022D68;

// Fonts
$font-arial: Arial, Helvetica, sans-serif;
$font-times: 'Times New Roman', Times, serif;

// Font Sizes
$text-lg: 66px;
$text-md: 30px;
$text-reg: 25px;
$text-sm: 18px;

// Border Radius
$radius-md: 8px;