/* Importing the partials */

// Colours
$bg-purple: #fcd1ff;
$bg-white: #fff;
$bg-babyblue: #bbdeff;
$bg-black: #000;
$bg-darkblue: #022D68;

// Fonts
$font-arial: Arial, Helvetica, sans-serif;
$font-times: 'Times New Roman', Times, serif;

// Font Sizes
$text-lg: 66px;
$text-md: 30px;
$text-reg: 25px;
$text-sm: 18px;

// Border Radius
$radius-md: 8px;

body {
    background-color: $bg-purple;
    font-family: $font-arial;
    font-size: $text-reg;
    margin: 0;
    padding: 60px;
}

h1 {
    font-size: $text-lg;
    font-weight: 900;
    font-family: $font-times;
}

div#black-box{
    background-color: $bg-purple;
    font-size: $text-sm;
    color: $bg-white;
}

.black-flag {
    background-color: $bg-purple;
    color: $bg-white;
}

@mixin btn {
    display:inline-block;
    background-color: $bg-babyblue;
    border-radius: $radius-md;
    color: $bg-white;
    font-size: $text-sm;
    font-family: $font-arial;
    margin-bottom: 14px;
    padding: 14px 50px;
    text-decoration: none;
    border: none;

    &:hover {
        background-color: $bg-darkblue;
    }
}

.btn {
    @include btn;
}

#submit {
    @include btn;

}