/* Import the partials */
@use 'colours';
@use 'fonts';
@use 'layouts';

/* General body styles */
body {
    background-color: colours.$bg-lightpurple;
    font-family: fonts.$font-arial;
    font-size: fonts.$text-sm;
    margin: 0;
    
}
.container{
    margin: layouts.$margin-medium;
    padding: layouts.$padding-small;

}
/* Heading styles */
h1 {
    font-size: fonts.$text-lg;
    font-weight: fonts.$font-weight-lg;

}

h2 {
    font-size: fonts.$text-md;
    font-weight: fonts.$font-weight-md;
}

h3 {
    font-size: fonts.$text-reg;
    font-weight: fonts.$font-weight-reg;
}

h4 {
    font-size: fonts.$text-sm;
    font-weight: fonts.$font-weight-sm;
}
h5{
    font-size: fonts.$text-xs;
    font-weight: fonts.$font-weight-xs;
}
/* Paragraph styles */
p {
    font-size: fonts.$text-sm;
    margin-bottom: layouts.$margin-btm;
}

/* Button mixin */
@mixin btn {
    display: inline-block;
    background-color: colours.$bg-babyblue;
    border-radius: layouts.$radius-md;
    color: colours.$bg-white;
    font-size: fonts.$text-sm;
    font-family: fonts.$font-arial;
    margin-bottom: 14px;
    padding: layouts.$padding-left;
    text-decoration: none;
    border: layouts.$border-dash;

    &:hover {
        background-color: colours.$bg-darkblue;
    }
}



/* Additional styles for elements like tables, lists, etc. */
ul, ol {
    margin-bottom: layouts.$margin-btm;
    font-size: fonts.$text-sm;
    padding-left: layouts.$padding-left;
}
ul {
    list-style-type: layouts.$circle-list;
}

ol {
    list-style-type: layouts.$roman-list;
}
 a{
    color: colours.$bg-red;
    cursor: pointer;
    font-size: fonts.$text-sm;
 
 }

table {
    width: 100%;
    border-collapse: layouts.$border-collapse;
    margin-bottom: layouts.$margin-btm;
}

table, th, td {
    border: layouts.$border-solid;
    padding: layouts.$padding-small;
}

th {

    background-color: colours.$bg-white;
}

hr {
    margin: layouts.$margin-medium;
    border: layouts.$border-dash;
}
form {
    margin-bottom: layouts.$margin-btm;
}
blockquote {
    font-family: fonts.$font-times;
    margin: layouts.$margin-medium;
    padding: layouts.$padding-medium;
}

.btn-primary {
    background-color: colours.$bg-darkblue;
    color: colours.$bg-white;
    padding: layouts.$padding-small;
    cursor: pointer;
}

.btn-secondary {
    background-color: colours.$bg-babyblue;
    color: colours.$bg-darkblue;
    padding: layouts.$padding-small;
    cursor: pointer;
}

.btn-success {
    background-color: colours.$bg-green;
    color: colours.$bg-white;
    padding: layouts.$padding-small;
    cursor: pointer;
}
.btn-danger {
    background-color: colours.$bg-red;
    color: colours.$bg-white;
    padding: layouts.$padding-small;
    cursor: pointer;
}